@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,500&family=Playfair+Display:wght@400;700&display=swap');

:root {
    --black: #000;
    --darker-gray: #333;
    --dark-gray: #4f4f4f;
    --accent: #f2994a;
    --playfair: 'Playfair Display', serif;
    --montserrat: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 4em auto;
    max-width: 800px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header__title,
.header__description {
    max-width: 450px;
}

.header__title {
    font-size: 2.3em;
    color: var(--black);
    font-family: var(--playfair);
}

.header__description {
    font-size: 0.8em;
    color: var(--dark-gray);
    font-family: var(--montserrat);
    font-weight: 500;
    font-style: italic;
    margin-top: 0.5em;
}

.header__description::before {
    content: url("6dots.svg");
    font-size: 1em;
    margin-right: 0.5em;
}

.header__img {
    width: 100%;
    height: 400px;
    background: url('photo1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 1em;
    border-radius: 10px;
    margin-top: 2em;
}

.infos {
    display: flex;
    gap: 2em;
    margin: 2em 0;
}

.infos__ingredients {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.infos__ingredients--title,
.instructions__text {
    font-size: 1.5em;
    font-family: var(--playfair);
    color: var(--darker-gray);
    font-weight: 700;
}

.infos__ingredients--em {
    font-size: 1.1em;
    font-family: var(--playfair);
    color: var(--darker-gray);
    font-weight: 400;
    font-style: italic;
}

.infos__ingredients--em.tag {
    margin: 1em 0;
}

.infos__ingredients--list {
    list-style-type: none;
}

.infos__ingredients--item {
    font-size: 1em;
    font-family: var(--montserrat);
    color: var(--darker-gray);
    font-weight: 500;
    margin-top: 0.5em;
    line-height: 24px;
}

.infos__ingredients--checkbox {
    margin-right: 0.5em;
}

.infos__prep {
    width: 40%;
    height: 30%;
    padding: 2em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.infos__prep--list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.infos__prep--item {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.fas {
    font-size: 1.2em;
}

.infos__prep--spans {
    display: flex;
    flex-direction: column;
}

.infos__prep--text {
    color: #dbdbdb;
    font-size: 0.7em;
    font-family: var(--montserrat);
    font-weight: 700;
    text-transform: uppercase;
}

.infos__prep--time {
    color: var(--darker-gray);
    font-size: 0.7em;
    font-family: var(--montserrat);
    font-weight: 500;
}

.infos__prep--time.accent,
.fa-utensils.accent {
    color: #f2994a;
}

.instructions {
    margin-top: 2em;
}

.instructions__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 1em;
}

.instructions__item {
    color: var(--darker-gray);
    font-family: var(--montserrat);
    font-size: 1em;
    font-weight: 400;
    line-height: 24px;
}

.item--decoration {
    width: 1.5em;
    height: 1.5em;
    border-radius: 25%;
    color: #fff;
    background: #f2994a;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.footer {
    color: #dbdbdb;
    margin-top: 2em;
    font-family: var(--montserrat);
}

@media screen and (max-width: 800px) {
    body {
        margin: 1em;
    }

    .header__img {
        height: 30vh;
    }
    
    .infos {
        flex-direction: column;
    }

    .infos__prep {
        width: 100%;
        height: 100%;
        padding: 1em;
        order: -1;
    }

    .infos__prep--list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5em;
        justify-content: space-between;
    }
}